<body class="login-container" [style.backgroundImage]="'url(' + backgroundImageUrl + ')'">
  <div class="container">

    <div class="forms-container">
      <div class="signin-signup">
        <!-- FORM FIELD -->
        <form class="sign-in-form">

          <!-- SYSTEM AND SUBSYSTEM NAME -->
          <h2 class="title">
            <img src="../assets/images/GCLMS.PNG" alt="Gordon College Logo" class="logo" /><br />
            <span class="upper-text">Gordon College</span><br />
            <span class="lower-text">Library Management System</span><br />
            <span class="subsystemname">Locker</span>
          </h2>
          
          <!-- INPUT FIELD -->
          <div class="input-field">
            <i class='bx bxs-user'></i> 
            <input type="text" placeholder="Username" formControlName="email" />
          </div>
          <div class="input-field">
            <i class='bx bxs-lock-alt'></i>
            <input type="password" placeholder="Password" formControlName="password" />
          </div>

          <!-- LOGIN BUTTON -->
          <input id="login-button" type="submit" value="Login" class="btn solid" />

          <p class="social-text">GCLMS v0.1</p>
        </form>
      </div>
    </div>

    <!-- LEFT CONTENT -->
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
        </div>
        <img src="../assets/images/vector.png" class="image" alt="" />
      </div>
    </div>

  </div>
</body>
  